<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mapa Virtual</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
    <div class="city-sytle">
        <h1>Macedo de Cavaleiros</h1>
        <p><b>População:</b> 34515</p>
        <p><b>Descrição:</b> Irure nulla reprehenderit voluptate voluptate ut ad ut aliqua quis velit.
        Ea sit ex tempor exercitation. Culpa culpa laboris mollit nisi dolore aliqua anim velit do Lorem ipsum.
        Nostrud est ex minim non in nostrud ipsum cupidatat id labore occaecat voluptate. Aliqua et aute ullamco consequat nulla anim quis velit.</p>
        <p><b>Distrito:</b> Bragança</p>
    </div>
    <div class="ligacoes-style">
        <h2>Ligações</h2>
        <ul>
            <li>
                <p><b>Nome:</b><a href="braga.html">Braga</a></p>
                <p><b>Distância:</b> 155.65 km</p>
            </li>
            <li>
                <p><b>Nome:</b><a href="braga.html">Braga</a></p>
                <p><b>Distância:</b> 155.65 km</p>
            </li>
            <li>
                <p><b>Nome:</b><a href="braga.html">Braga</a></p>
                <p><b>Distância:</b> 155.65 km</p>
            </li>
        </ul>
    </div>
</body>
</html>