.indice-stl{
    padding-left: 5%;
    background-color: #7393B3;
    border-radius: 10px;
    width:30%;
}
.city-style{
    padding-left: 5%;
}

.ligacoes-style{
    background-color: #CCCCFF;
    padding-left: 5%;
}